.bundle
.DS_Store
.powrc
.rvmrc
!.keep
*~
*.orig
*.rdb
*.sw[nop]
*.cache
*.log
*.pidconfig.ru
db/*.sqlite3
db/schema.rb
log/*
rerun.txt
tags
tmp
vendor/bundler_gems
vendor/plugins/acts_as_xapian/lib/xapiandbs
