* {
	margin:0;
	padding:0;
}

h1{
	font-family: 'MarketingScriptRegular';
	font-size:100pt;
	color: #FF9A36;
	text-decoration: none;
}

h1 a:link{
	color: #FF9A36;
	text-decoration: none;
}
h1 a:visited{
	color: #FF9A36;
	text-decoration: none;
}
h1 a:hover{
	color: #FF9A36;
	text-decoration: none;
}
h1 a:active{
	color: #FF9A36;
	text-decoration: none;
}

p{
	margin:0 0 1em 0;
	font-size: 20px;
	line-height: 36px;
}

a{
	color: #00b0f8;
}

@font-face {
    font-family: 'MarketingScriptRegular';
    src: url('fonts/MarketingScript-webfont.eot');
    src: url('fonts/MarketingScript-webfont.eot?iefix') format('eot'),
         url('fonts/MarketingScript-webfont.woff') format('woff'),
         url('fonts/MarketingScript-webfont.ttf') format('truetype'),
         url('fonts/MarketingScript-webfont.svg#webfontZ5AiaAsu') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PerspectiveSansRegular';
    src: url('fonts/persans-webfont.eot');
    src: url('fonts/persans-webfont.eot?iefix') format('eot'),
         url('fonts/persans-webfont.woff') format('woff'),
         url('fonts/persans-webfont.ttf') format('truetype'),
         url('fonts/persans-webfont.svg#webfontZvYKLeck') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PerspectiveSansBold';
    src: url('fonts/persansb-webfont.eot');
    src: url('fonts/persansb-webfont.eot?iefix') format('eot'),
         url('fonts/persansb-webfont.woff') format('woff'),
         url('fonts/persansb-webfont.ttf') format('truetype'),
         url('fonts/persansb-webfont.svg#webfontWBABdmNS') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tiny{
	font-size: 10px;
}

/* BUTTON */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	padding: .5em 1em .5em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* TEXT BOX */
input, textarea {
	font-family: 'PerspectiveSansRegular';
	font-size: 15px;
	margin-right: 5px;
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

html,body{
	margin:0;
	padding:0;
	overflow:auto;
}

body{
	font-family: 'PerspectiveSansRegular';
	height:100%;
	margin:0;
}

#outer{
	background:#fff url(stripes.jpg) repeat;
	overflow:auto;
	position:absolute;
	left:0px;
	right:0px;
	top:10px;
	bottom:10px;
	text-align: center;
}

#top,#bottom{
	position:absolute;
	left:0px;
	right:0px;
	height:10px;
	background:#666666;
	overflow:hidden;
}

#top{
	top:0px;
}

#bottom{
	bottom:0px;
}